<!-- Post Here -->
<div class="body">
  <header class="showcase">
    <div class="content grid grid-rows-3 grid-flow-col gap-4">
      <img
        src="https://image.ibb.co/ims4Ep/logo.png"
        crossorigin
        class="logo row-span-3"
        alt="ClipZ"
      />
      <div class="title col-span-2">ClipZ</div>
      <div class="text row-span-2 col-span-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vel.
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="services">
    <div class="container grid-3 center">
      <div>
        <i class="fab fa-youtube fa-3x"></i>
        <h3>Uploads</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
          reiciendis!
        </p>
      </div>
      <div>
        <i class="fas fa-chalkboard-teacher fa-3x"></i>
        <h3>Community</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
          reiciendis!
        </p>
      </div>
      <div>
        <i class="fas fa-briefcase fa-3x"></i>
        <h3>Live</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
          reiciendis!
        </p>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="about bg-light col-span-2">
    <div class="container">
      <div class="grid-2">
        <div class="center">
          <i class="fas fa-laptop-code fa-10x">
            <img
              class="image"
              src="src\assets\img\pexels-cottonbro-4630669.png"
              alt=""
              srcset=""
            />
          </i>
        </div>
        <div>
          <h3>About Us</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non eos
            aperiam labore consectetur maiores ea magni exercitationem similique
            laborum sed, unde, autem vel iure doloribus aliquid. Aspernatur
            explicabo consectetur consequatur non nesciunt debitis quos alias
            soluta, ratione, ipsa officia reiciendis.
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="center bg-dark col-span-2">
    <p>Ayman &copy; 2022</p>
  </footer>
</div>
